.category__item {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #fde4e4;
  padding: 15px 5px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  border-radius: 5px;

  .category__img {
    width: 60px;
    margin-left: 10px;
  }

  h6 {
    font-weight: 600;
    color: #333;
  }
}
.category__item:hover {
  transform: translateY(-15px);
}
@media only screen and (max-width: 992px) {
  .category__item {
    display: none;

    .category__img {
      width: 60px;
      margin-left: 10px;
    }

    h6 {
      font-weight: 600;
      color: #333;
    }
  }
}
