.hero__title {
  font-size: 2.5rem;
  line-height: 40px;

  span {
    color: #ff0a34;
  }
}

.hero__content {
  padding-top: 70px;
  p {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
  }
}

.hero__image {
  height: 100%;
}

.hero__btns {
  display: flex;
  align-items: center;
  gap: 30px;

  button {
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }

  .order_btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #ff0a34;
    color: #fff;
    text-decoration: none;
  }
  .order_btn:hover {
    background-color: #005fbf;
  }

  .all__products-btn {
    background: transparent;
    border: 1px solid #ff0a34;
    text-decoration: none;
  }
  .all__products-btn a {
    color: #ff0a34;
  }

  .bot__security {
    gap: 20px;
  }
  .home__service {
    color: #212245;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .feature__subtitle {
    color: #ff0a34;
  }
}

.product__category {
  background-color: #ff0a34;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
  button {
    border: none;
    outline: none;
    padding: 7px 20px;
    background-color: transparent;
    color: #fff;
    gap: 6px;
  }

  img {
    width: 20px;
    height: 20px;
  }

  .product-btn-active {
    background-color: #fff !important;
    border-radius: 5px;
    color: #ff0a34;
  }
}

.populer-product {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 40px;
  color: #ff0a34;
}

@media only screen and (max-width: 992px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__content {
    padding-top: 5px;
    p {
      font-size: 1rem;
      line-height: 30px;
      color: #777;
    }
  }
}
